{% extends 'base.html.twig' %}

{% block title %}Le fonctionnement de Simplon Grenoble{% endblock %}

{% block body %}
    <!-- Partie 1 Bannière et le titre principal -->
    <div class="about-title">
        <div class="overlay main-pad">
            <div class="titre col-12 p-5 h1 loading">
                <h1>Notre fonctionnement</h1>
            </div>
        </div>
    </div>

    <div id="about">
        <!-- Partie 2 La pédagogie active avec les étudiants en photo -->
        <section id="partie_2" class="shadow-title">
            <div class="container main-pad">
                <div class="row">
                    <div>
                        <h2 class="text-center">La pédagogie active</h2>
                        <img class="float-left" src="/img/about/student.jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, sunt labore fugit vero odit aspernatur libero provident quos quisquam possimus minus excepturi eligendi rerum illum perspiciatis est consectetur laborum aliquam? Doloribus itaque maxime aliquid illo nostrum, et perferendis quos ab hic accusantium impedit corporis assumenda ut suscipit ducimus eveniet beatae doloremque alias reiciendis unde, mollitia nemo nobis? Explicabo, labore! Neque voluptas ex nam iusto odio vitae, voluptatem voluptates facere sint quam? In officiis, repellat eaque ipsam quas porro suscipit accusamus?</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="separator container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <title>logo-simplon</title>
                <path d="M50,0a50,50,0,1,0,50,50A50,50,0,0,0,50,0Zm0.16,87.43A38.07,38.07,0,1,1,88.23,49.35,38.07,38.07,0,0,1,50.16,87.43Z"
                fill="#ed1450" />
                <rect x="41.06" y="30.12" width="15.29" height="15.29" fill="#ed1450" />
                <rect x="41.06" y="55.41" width="15.29" height="15.29" fill="#ed1450" />
            </svg>
        </div>

        <!-- Partie 3 solidaire avec les mains en photo-->

        <section id="partie_3">
            <div class="container main-pad">
                <div class="row">
                    <div>
                        <h2 class="text-center">Nos engagements Economiques Solidaires et Sociaux</h2>
                        <img class="float-right" src="/img/about/solidaire.png" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, sunt labore fugit vero odit aspernatur libero provident quos quisquam possimus minus excepturi eligendi rerum illum perspiciatis est consectetur laborum aliquam? Doloribus itaque maxime aliquid illo nostrum, et perferendis quos ab hic accusantium impedit corporis assumenda ut suscipit ducimus eveniet beatae doloremque alias reiciendis unde, mollitia nemo nobis? Explicabo, labore! Neque voluptas ex nam iusto odio vitae, voluptatem voluptates facere sint quam? In officiis, repellat eaque ipsam quas porro suscipit accusamus?</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Partie 4 Les partenaires avec les 3 logos-->
        <section id="partie_4" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://www.ashoka.org/fr-FR" target="_blank">
                            <img  src="/img/about/partenaires/ashoka.png" alt="logo ashoka"/>
                        </a>
                    </div>
                    <div class="col-md-4">

                        <a href="https://fondationlafrancesengage.org/" target="_blank">
                            <img  src="/img/about/partenaires/ffe.png" alt="logo ffe"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://mouves.org/" target="_blank">
                            <img class="mouve"  src="/img/about/partenaires/mouves.png" alt="logo mouves"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Partie 5 Les Paragraphes sur les entreprises-->
        <section id="partie_5" class="container main-pad text-center">
            <div id="fond" class="row">
                <div id="p5_p">
                    <h2>Les entreprises</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium voluptate, sapiente accusamus nulla qui consequuntur aliquid quibusdam saepe soluta nisi ex, consectetur veniam? Voluptatum, ut!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto repellendus nam neque quaerat consectetur fuga, ex est omnis tempora ad obcaecati dicta voluptatibus quisquam eligendi.</p>
                </div>
            </div>
        </section>

        <!-- Partie 6 Les investisseurs principaux avec les 2 logos -->
        <section id="partie_6">
            <div class="container main-pad">
                <div class="border-ent">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <a href="https://travail-emploi.gouv.fr/grands-dossiers/plan-d-investissement-competences/" target="_blank"><img src="/img/about/partenaires/PIC-LOGO.png" alt="Logo" ></a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.opcalia.com/" target="_blank"><img src="/img/about/partenaires/opcalia.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
