{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" rel="stylesheet" />
    {{ encore_entry_link_tags('main') }}
{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div class="contact-title">
        <div class="overlay main-pad">
            <div class="titre col-12 p-5 h1 loading">
                <h1>Contactez Nous</h1>
            </div>
        </div>
    </div>
    <div class="shadow-title">
        <div class="container col-md-9 main-pad contact">
        <div class="row">
            <div class="col-md-6 mr-auto mail">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <center text-align: right; class="g-recaptcha",
                data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI">
            </center>
            </div>
            <div class="col-md-6 ml-auto text-center">
                <div class="adress">
                    <h3>Adresse postale</h3>
                    <p>11 rue Emile Zola <br>38000 Grenoble </p>
                    <p>Telephone: 00 00 00 00 00</p>
                </div>
                <div id="mapId"></div>
            </div>
        </div>

            {% for msg in app.flashes('notice') %}
                <div class="row">
                    <div class="alert alert-success mx-auto">
                        {{ msg }}</div>
                </div>
            {% endfor %}


    </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('main') }}
{{ encore_entry_script_tags('map') }}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
